body {
  background-color: rgb(235, 236, 222);
}
/*Formulaire de contact*/
.modal-content {
  position: relative;
  background-color: #ffffff;
  border: 1px solid #999999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0;
  outline: none;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  background-clip: padding-box;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}
.modal-header {
  border-bottom: 1px solid #48a4ac;
  background: #61bdc5;
  min-height: 16.4286px;
  padding: 10px 15px;
}
.close {
  float: right;
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .2;
  filter: alpha(opacity=20);
}
.modal-body {
  position: relative;
  padding-left: 150px;
  padding-top: 15px;
}
.modal-footer {
  padding: 19px 20px 20px;
  margin-top: 0;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}

/* fin formulaire de contact*/

/*titre de l'index*/
.index-title {
  box-shadow: 3px 3px 5px rgb(0, 0, 0);
  color:#D4AF37;
  text-shadow: 2px 2px 2px black;
  background-color: rgb(80, 181, 160);
}

.bouton-nav > li > a > button {
  width: 200px;
}
.menu-nav {
  padding-left: 0;
}
.menu-nav > li {
  list-style: none;
  display: inline;
  margin: 2rem;
}
.site-title {
  border: solid black;
  background-color: rgba(153, 132, 193, 0.4);
  box-shadow: 3px 3px 0px black;
}
